@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: aliceblue;

}

.backgroundMain{
  height: 100vh;
  width: 100%;
  background-image: url("./assets/coldBackground.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.backgroundMain.warm {
  height: 100vh;
  width: 100%;
  background-image: url("./assets/warmBackground.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.main{
width: 42%;
max-height: 70%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  
}


.outputArea {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.164);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* media queries */

@media screen and (max-width:1200px){
  *{
      font-size: .9rem;
  }
  .main{
      width: 33%;
     }
}

@media screen and (max-width:875px){
 .main{
  width: 35%;
 }
}

@media screen and (max-width:750px){
 .main{
  width: 42%;
 }
}

@media screen and (max-width:650px){
 .main{
  width: 58%;
 }
}

@media screen and (max-width:500px){
 .main{
  width: 70%;
 }
}

@media screen and (max-width:422px){
  .main{
   width:78%;
  }
}